@model SolarEP.Models.administrador

@{
    ViewBag.Title = "TrocarSenha";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@if (TempData["campovazio"] == "true")
{
    <script>alert('É necessário preencher os campos abaixo.')</script>
}

@if (TempData["naoconfere"] == "true")
{
    <script>alert('Senha não confere.')</script>
}

@if (TempData["sucesso"] == "true")
{
    <script>alert('Senha atualizada com sucesso!')</script>
}

<!-- start: page -->
<section class="body-sign">
    <div class="center-sign">
        <a href="/" class="logo pull-left">
            <img src="@Url.Content("~/Content/assets/images/Coca-Cola-Solar-Logo.png")" height="55" alt="Porto Admin" />
        </a>

        <div class="panel panel-sign">
            <div class="panel-title-sign mt-xl text-right">
                <h2 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i> Trocar Senha</h2>
            </div>
            <div class="panel-body">
                <form action="@Url.Content("~/Login/TrocarSenha")" method="post">
                    <div class="form-group mb-lg">
                        <div class="clearfix">
                            <label class="pull-left">Senha</label>

                        </div>
                        <div class="input-group input-group-icon">
                            <input name="senha" type="password" class="form-control input-lg" />
                            <span class="input-group-addon">
                                <span class="icon icon-lg">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group mb-lg">
                        <div class="clearfix">
                            <label class="pull-left">Confirmar Senha</label>
                        </div>
                        <div class="input-group input-group-icon">
                            <input name="confsenha" type="password" class="form-control input-lg" />
                            <span class="input-group-addon">
                                <span class="icon icon-lg">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                        </div>
                        <div class="col-sm-4 text-right">
                            <input id="bttrocar" value="Trocar" type="submit" class="btn btn-primary" style="background: #f40000; border: none !important;" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <p class="text-center text-muted mt-md mb-md">&copy; Copyright 2016. All Rights Reserved.</p>
    </div>
</section>
<!-- end: page -->